= form_tag sessions_path do
  .something
    = text_field_tag :email, params[:email]
  .something
    = password_field_tag :password, params[:password]
    = text_field_tag :fake_password, params[:fake], value: "and put your password here."
  .something
    = label_tag :remember_me
    = check_box_tag :remember_me, 1, true
  .something
    = submit_tag "Click here to sign in.", id: 'submit'
