%h1 Log in

= form_tag sessions_path do
  .field
    = label_tag :email
    = text_field_tag :email, params[:email]
  .field
    = label_tag :password
    = password_field_tag :password, params[:password]
  .field
    = label_tag :remember_me
    = check_box_tag :remember_me, 1, true
  .actions
    = submit_tag "Log in"
