= form_for @user do |f|
  - if @user.errors.any?
    .something
      - for message in @user.errors.full_messages
        %p= message
  .something
    = f.text_field :email, value: "Click here and type your email."
  .something
    = f.password_field :password
    = text_field_tag :user_fake_password, "Then pick a good password and put it here"
  .something
    = f.password_field :password_confirmation
    = text_field_tag :user_fake_password_confirmation, "and again here."
  .something
    = f.submit "Looks good. Click here to sign up.", id: "submit"
