<!DOCTYPE html>
<html>
<head>
  <title>Whatevers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/strip' %>

<% flash.each do |key, msg| %>
	<%= content_tag :div, msg, :class => ["flash #{key}"] %>
<% end %>

	<% if current_user %>
		<p>We got ourselves a user signed in.</p>
		<p>His email is <%= current_user.email %></p>
	<% end %>

	<%= yield %>

</body>
</html>
